<div class="headerCou">
  <h1>Courtney's burgundy</h1>
  <h3>HEX code: #80003d</h3>
</div>

<div class="originDani">
  <h2> <p>According to <span><a href="https://designs.ai/colors/color-meanings/burgundy#:~:text=Burgundy%20is%20a%20dark%20reddish,of%20green%2C%20blue%20and%20red." style="background-color:#80003d;">designs.ai</a></span>, burgundy is a deep, dark <b>red</b> color <b>with violet</b> tones, which is a result of blending green, blue, and red.</p></h2>
    <br>
    <p>
    <br>
    <br>
   </p>
</div>

<div class="opinionDani">
  <h3>My opinion</h3>
  <p> Colors exist on a spectrum. They are not "black and white" in a sense. Different shades comprise a single color. Daniela's burgundy is correct and so is mine since burgundy comes in varying shades. She bases her argument on the actual hex code, which is valid, but colors are more than one combination of numbers. If you search for burgundy images you will find many different shades.
  </p>

   <br>
    
    <p> ...and that's why I'M RIGHT. Just kidding! 😉 </p>
</div>