<div class="header">
  <h1>Daniela's burgundy</h1>
  <h3>HEX code: #800020</h3>
</div>

<div class="originDani">
  <h2>According to wikipedia.</h2>
    <br>
    <a
      href="https://en.wikipedia.org/wiki/Burgundy_(color)#:~:text=Burgundy%20is%20a%20dark%20red-purplish%20color.%20The%20color,its%20name%20from%20the%20Burgundy%20wine%20in%20France."
    style="background-color: #800020; padding:10px;">learn more here</a>
    <p>
    <br>
    <br>
    Burgundy is a dark red-purplish color. The color burgundy takes its name
    from the Burgundy wine in France. The color burgundy is similar to Bordeaux
    (#4C1C24), Merlot (#73343A), Berry (#A01641), and Redberry (#701f28).
    Burgundy is made of <b>50% red, 0% green, and 13% blue.</b> The CMYK percentages
    are 0% cyan, 100% magenta, 75% yellow, 50% black. The first
    recorded use of "burgundy" as a color name in English was in 1881.</p>
</div>

<div class="opinionDani">
  <h3>My opinion</h3>
  <p>My personal opinion is that burgundy is a shade of crimson and is more red
    that purple 🤓
  </p>
</div>