
<div class="headerEster">
<h1>Esther</h1>
<h2>#IDGAF</h2>
</div>



<div class="originDani">
    <br>
    <br>
   <p>Burgundy is an intense reddish-purple hue with a royal, chic look and rich, wine color-like shades. The burgundy color, along with dusty pink and Teal Green, is strongly associated with the ’80s, but it has been experiencing a bit of a renaissance. You are sure to find this deep Merlot-color in design, fashion, home décor, lipstick and even hair dye.</p>
</div>

<div class="opinionDani">
  <h3>My opinion</h3>
  <p>When I think of burgundy I imagine a color that contains purple and red. Therefore, if two people who are arguing about the two shades ask me which is the correct one, I would say that they would both be burgundy since both colors have red and purple, only one color has more red tones and less purple tones than the other.
  </p>
</div>

<img src="https://th.bing.com/th/id/OIP.rzlTln7T69_qtV54pbKPgAHaHa?pid=ImgDet&rs=1" alt="dorito" class="dorito">