<div class="color-cards">

    <a href="../routes/index.js">    
        <img src="/images/80003d.png" alt="Courtney's burgundy"> 
    </a>

<a href="../routes/index.js">
    <img src="/images/combined.jpg" alt="Esther's burgundy" style="width: 14%;">
</a>

<a href="../routes/index.js">
    <img src="/images/800020.png" alt="Daniela's burgundy">
</a>

</div>