<div class="color-cards">

<div >
  <a href="../routes/index.js">
    <img
      src="/images/80003d.png"
      alt="Courtney's burgundy"
      style="width: 200%;" class="cards"
    />
  </a>
</div>

<div>
  <a href="../routes/index.js">
    <img
      src="/images/estherB.jpg"
      alt="Esther's burgundy"
      style="width: 63%;" class="cards"
    />
  </a>
</div>

<div >
  <a href="../routes/index.js">
    <img
      src="/images/800020.png"
      alt="Daniela's burgundy"
      style="width: 200%;" class="cards"
    />
  </a>
  </div>

</div>