<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="/stylesheets/style.css"/>
  </head>
  <body>
    <div class="navbar">
      <a href="/">Home</a>
      <a href="/auth/signUp">Sign up</a>
      <a href="/auth/logIn">Log In</a>
      <a href="/auth/logOut">Log Out</a>
    </div>

    {{{body}}}
  </body>
</html>