<h1 class="signUp">Sign Up</h1>

<form action="/auth/signUp" method="post" class="signUp">

  <div>
    <label for="userName">User name</label>
  </div>

  <div>
    <input type="text" name="userName" id="userName"/>
  </div>

  <br />

  <div>
    <label for="passwordInput">Password</label>
  </div>
  <div>
    <input type="password" name="password" id="passwordInput"/>
  </div>

  <br />
  <button type="submit" class="button">Sign up!</button>

{{#if errorMessage}}
<p style="color: red;">{{errorMessage}}</p>
{{/if}}


</form>

