body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  
}

.navbar {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  background-color: black;
  padding: 1%;
}

.signUp {
  text-align: center;
}

.logIn {
  text-align: center;
}


.button {
  transition-duration: 0.4s;
  background-color: white;
  border: none;
  border-color: #fd2323;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.button:hover {
  background-color: #fd2323;
  color: white;
}

.color-cards {
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  margin-top: 10%;  
  margin-left: -100px;
  
}

.cards{
  
  border-radius: 15%;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.headerDani{
  background-color: #800020;
  padding: 20px;
  color: white;
  text-align: center;
}

.originDani{
text-align: center;
border-color: #800020;
font-size: 25px;


}

.opinionDani{
  text-align: center;
  border-color: #800020;
  font-size: 25px;
}

.headerCou{
  background-color: #80003d;
  padding: 20px;
  color: white;
  text-align: center;
}

.headerEster{
  background-color: black;
  padding: 20px;
  color: white;
  text-align: center;
}

